@charset "UTF-8";
/* CSS Document */
#Logout{
	font-size: 1em;
	font-family: "Impact";
	border-radius: 0px;
}

h1{	
	margin-top: 0;
	font-family: "Impact";
	background-color: #30ACFF;
	font-size: 4em;
}

#friend{	
	font-size: 3.5em;
	font-family: "Impact";
	color: #FF1919;
}

#friendlist{
	font-size: 2.5em;
}

ul{
	overflow: auto;
	font-size: 1.5em;
	width: 8em;
	height: 14em;
	border: 2px solid #00CC00;
}

#Friend{
	color: black;
	background: none;
	border: 0;
	font-size: 1.2em;
}
