@charset "UTF-8";
/* CSS Document */
#Logout{
	font-size: 1em;
	font-family: "Impact";
	border-radius: 0px;
}

#FriendsList{
	font-size: 1em;
	font-family: "Impact";
	border-radius: 0px;
}

h1{
	margin-top:0;
	font-family: "Impact";
	background-color: #30ACFF;
	font-size: 4em;
}

#table{
	border: .01em solid #001BFA;
	background-color: #001BFA;
}

td{
	background-color: #FCFAFA;
	max-width: 407px !important;
	max-height: 314px !important;
}

img{
	max-width: 407px !important;
	max-height: 314px !important;
}