@charset "UTF-8";
/* CSS Document */
h1{	
	font-family: "Impact";
	background-color: #30ACFF;
	font-size: 4em;
	line-height: normal;
	margin: 0; 
  	padding: 10px; 
}

#friend{	
	font-size: 3em;
	font-family: "Impact";
	color: #FF1919;
	padding: 0; 
}

#friendlist{
	font-size: 2.5em;
}

#friendbox{
	padding: 5px 0px 5px 0px;
	border-style:solid;
	border-width:5px;
}

#Friend{
	color: black;
	background: none;
	border: 0;
	font-size: 1.5em;
}

input[type=submit] {
	font-size: 1.2em;
	background: none;
    border-radius: 5px;
    border: 0;
    font-family: Tahoma;
}

#table{
	border-radius: 5px;
	border: .05em solid #FFFFFF;
}

#namelabel{
	text-align:center; 
	font-family: "Impact";
	color: #30ACFF;
	font-size: 2em;
	line-height: normal;
	margin: 0; 
  	padding: 0; 
}

#Logout{
	background: #FFFFFF;
	float: right;
	font-size: 1.5em;
	font-family: "Arial";
	font-weight: bold;
	color: #FF1919;
	padding: 3px; 
}

input[type=button]{
	font-size: 1.2em;
    font-family: Tahoma;
}

#imageselectlabel{
	font-family: "Impact";
	color: #30ACFF;
	font-size: 1.5em;
	padding: 3px; 
}

#imageselection{
	font-size: 1.2em;
	font-family: "Arial";
	color: #000000;
	padding: 3px;
	vertical-align:middle;	
}

#PictureSelect{
	font-size: 1.1em;
	font-family: "Arial";
	color: #000000;
	padding: 3px; 
}

#userconversation{
	text-align:center; 
	vertical-align:middle;
}

#friendconversation{
	text-align:center; 
	vertical-align:middle;
}

#instructions{
	text-align:center; 
	font-family: "Arial";
	font-weight: bold;
	color: #7C7C7C;
	font-size: 1em;
	line-height: 30px;
	margin: 0; 
  	padding: 0; 
}
